<!-- Dropdown Structure -->
<ul id="kills" class="dropdown-content">
    <li class="divider"></li>
    <li><a href="#!">Big Kills</a></li>
    <li><a href="#!">AWOX</a></li>
    <li><a href="#!">W-Space</a></li>
    <li><a href="#!">Highsec</a></li>
    <li><a href="#!">Lowsec</a></li>
    <li><a href="#!">Nullset</a></li>
    <li><a href="#!">Solo</a></li>
    <li><a href="#!">+5b</a></li>
    <li><a href="#!">+10b</a></li>
    <li class="divider"></li>
    <li><a href="#!">Capitals</a></li>
    <li><a href="#!">Freighters</a></li>
    <li><a href="#!">Supers</a></li>
</ul>

<ul id="tools" class="dropdown-content">
    <li><a href="#!">Wars</a></li>
    <li><a href="#!">Supers List</a></li>
    <li><a href="#!">Top Ranks</a></li>
</ul>

<ul id="dust514" class="dropdown-content">
    <li><a href="#!">All Kills</a></li>
    <li><a href="#!">Vehicles</a></li>
</ul>

<!-- Dropdown Structure -->
<ul id="dropdown" class="dropdown-content collection" style="min-width: 300px;">
    <li class="collection-item avatar">
        <img src="{{ siteData.imageServer }}/Character/{{ userData.characterID }}_32.jpg" alt="" class="circle">
        <span class="title">{{ userData.characterName }}</span>
        <span><img src="{{ siteData.imageServer }}/Corporation/{{ userData.charInfo.corporation.corporationID }}_32.png" alt="" class="circle"> {{ userData.charInfo.corporation.corporationName }}</span>
        <span>{% if userData.charInfo.alliance.allianceName %}<img src="{{ siteData.imageServer }}/Alliance/{{ userData.charInfo.alliance.allianceID }}_32.png" alt="" class="circle">{{ userData.charInfo.alliance.allianceName }}{% endif %}</span>
        <span><a class="waves-effect green waves-light btn" style="margin-bottom: 7px;">Control Panel</a><br/>
        <a class="waves-effect green waves-light btn" style="margin-bottom: 7px;">API Settings</a><br/>
        <a class="waves-effect red waves-dark btn-large" style="margin-bottom: 7px;">Logout</a></span>
    </li>
</ul>

<nav class="grey darken-3" role="navigation">
    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo">Project Rena</a>
        <a href="#" data-activates="mobileMenu" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down valign-wrapper">
            <li><a href="">Post Mail</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="kills">Kills<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-button" href="#!" data-activates="tools">Tools<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dust514">Dust 514<i class="material-icons right">arrow_drop_down</i></a></li>
            {% if userData.loggedIn %}
                <li><a class="dropdown-button" href="#!" data-activates="dropdown"><img class="valign circle" src="{{ siteData.imageServer }}/Character/{{ userData.characterID }}_64.jpg" width="48px"></a></li>
            {% else %}
                <li><a id="login" href="{{ siteData.EVESSOURL }}"><img class="valign responsive-img" src="https://images.contentful.com/idjq7aai9ylm/18BxKSXCymyqY4QKo8KwKe/c2bdded6118472dd587c8107f24104d7/EVE_SSO_Login_Buttons_Small_White.png?w=195&h=28"></a></li>
            {% endif %}
        </ul>
        <ul id="mobileMenu" class="side-nav valign-wrapper">
            {% if userData.loggedIn %}
                <li><img class="valign circle" src="{{ siteData.imageServer }}/Character/{{ userData.characterID }}_64.jpg" width="48px"></li>
            {% endif %}
            <li><a href="#!">Post Mail</a></li>

            {% if userData.loggedIn == false %}
                <li><a id="login" href="{{ siteData.EVESSOURL }}"><img class="responsive-img" src="https://images.contentful.com/idjq7aai9ylm/18BxKSXCymyqY4QKo8KwKe/c2bdded6118472dd587c8107f24104d7/EVE_SSO_Login_Buttons_Small_White.png?w=195&h=28"></a></li>
            {% endif %}
        </ul>
    </div>
</nav>